#!/usr/bin/env zsh

#
# Aliases
#

alias rg="rg --color=always --line-number"
alias ag="ag --color --numbers"
alias bat="bat --color=always"
greptxt="grep -E -H -sn -T -I --color=always\
    --exclude-dir=.git\\* --exclude TAGS --exclude=.TAGS.z --exclude=\\*.log\
    --exclude=\\*.patch --exclude=\\*.diff -D skip -d recurse"
[[ -f .gitignore ]]&&greptxt+=" --exclude-from=.gitignore"

alias grep=$greptxt
alias qe=$greptxt
alias gitg="git grep -I -i -E --color=always --threads=7 -n -e"
#
# Some hopefully useful hashed dirs. Use in command line, e.g.: cd ~start
#

hash -d start=$PWD
hash -d local=$HOME/.local
hash -d config=${XDG_CONFIG_HOME:-$HOME/.config}

#
# Variables
#

# you can use exa, fd, etc.
if type fd&>/dev/null;then
    NC_DEFAULT_LS_COMMAND="fd ."
else
    NC_DEFAULT_LS_COMMAND="ls -1 --color=always"
fi 

#NC_DEFAULT_LS_COMMAND="command exa --color=always|ok/qcolreduce -o"
#NC_DEFAULT_LS_COMMAND="command ls --color=always|ok/qcolreduce -o"
# editor will be found anyway
#NC_OPEN_CMD=${VISIAL:-${EDITOR:-$PAGER}}
NC_DEFAULT_LS_LIKE_OPTS="--color=always"
NC_LS_LIKE_COMMANDS="ls fd exa"

#
# Bindkeys
#

zui::bindkey F1 cmd-main-view
zui::bindkey F2 cmd-contents-view
zui::bindkey F3 cmd-command-history-view
zui::bindkey $'\C-w' cmd-tags-view
zui::bindkey $'\C-_' cmd-toggle-prompt

# Strictly preview view
zui::bindkey $'\C-e' cmd-set-view hist
zui::bindkey F15 cmd-open-tig
zui::bindkey F7 cmd-synh-switch
zui::bindkey F304 cmd-prev-hist
zui::bindkey F263 cmd-next-hist
zui::bindkey $'\C-D' cmd-show-stdin
zui::bindkey $'\C-y' cmd-command-mode-toggle
zui::bindkey F305 cmd-pwd-up
zui::bindkey SR cmd-pwd-up
zui::bindkey F264 cmd-prev-pwd
zui::bindkey SF cmd-prev-pwd
zui::bindkey $'\C-v' cmd-page-down
zui::bindkey $'\C-u' cmd-page-up
# Cursor movement
zui::bindkey BTAB cmd-complete
zui::bindkey SRIGHT cmd-cursor-right
zui::bindkey SLEFT cmd-cursor-left
zui::bindkey F283 cmd-cursor-word-left
zui::bindkey F298 cmd-cursor-word-right
zui::bindkey $'\C-r' cmd-item-to-prompt
zui::bindkey $'\C-t' cmd-pwd-to-prompt
# View saving
zui::bindkey $'\C-x' cmd-push-screen
zui::bindkey F284 cmd-prev-screen
zui::bindkey F299 cmd-next-screen
zui::bindkey F8 cmd-remove-screen
zui::bindkey F13 cmd-help
zui::bindkey F20 cmd-prune-screens
zui::bindkey F4 cmd-hide
zui::bindkey F16 cmd-show
