#!/usr/bin/env zsh

NC_DEFAULT_LS_COMMAND="command ls --color=always %s|ok/qcolreduce -o"
# you can use exa
#NC_DEFAULT_LS_COMMAND="command exa --color=always %s|ok/qcolreduce -o"

zui::bindkey F1 cmd-main-view
zui::bindkey F2 cmd-contents-view
zui::bindkey F3 cmd-command-history-view
zui::bindkey F4 cmd-exec-prompt
zui::bindkey F5 cmd-search-prompt
# Strictly preview view
zui::bindkey F14 cmd-toggle-view preview
zui::bindkey $'\C-e' cmd-set-view hist
zui::bindkey F16 cmd-open-tig
#zui::bindkey F5 cmd-commit
#zui::bindkey F17 cmd-commit -av
#zui::bindkey F6 cmd-push
#zui::bindkey F7 cmd-pull
zui::bindkey F8 cmd-synh-switch
#zui::bindkey F15 cmd-stage-line
zui::bindkey F304 cmd-prev-hist
zui::bindkey F263 cmd-next-hist
zui::bindkey $'\C-u' cmd-pwd-up
zui::bindkey $'\C-d' cmd-cd ~/github/z
zui::bindkey SRIGHT cmd-cursor-right
zui::bindkey SLEFT cmd-cursor-left
zui::bindkey F283 cmd-cursor-word-left
zui::bindkey F298 cmd-cursor-word-right
 